.Game2Solutions{
    display: flex;
    flex-direction: row


}
.Game2Solutions img{
    width: 20%;
    display: flex;
}
.Game2DogImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    object-fit: cover;
    width: 400px;
    height: 400px;

}
