.guessImage {
  width: 400px;
  height: 400px;
  border: 5px solid black;
}

.optionsButtons button {
  width: 180px;
  height: 80px;
  margin: 10px;
  font-size: 1.3rem;
}

.correct {
  background-color: #4BB543
}

.wrong {
  background-color: #FC100D
}