.Footer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  position:absolute;
  bottom:0;
  width:100%;
  height: auto;
  position: fixed

}
.Footer p {
  color: white;
  margin: 7px;
}

.Footer-pill {
  float: left;
}
.Footer-pill a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Footer-pill a:hover {
  background-color: #111;
}