.Footer{
  list-style-type: none;
  margin-top: 1000px;
  padding: 0;
  
  background-color: #333;

  position:absolute;
  bottom:0;
  width:100%;
  height: auto;
  position: fixed

}

.Footer p {
  color: white;
  margin: 7px;
}
